################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/chitchatter.server/obj
/.vs
/chitchatter.server/bin/Debug/netcoreapp3.1
